#!/usr/bin/env bash
# This is file is ment to be sourced
# This is the script you run not 'get-cred.sh'
source get-cred.sh

set_env_proxy

export HTTPS_PROXY=${https_proxy}
export HTTP_PROXY=${http_proxy}

get_access_key

export AWS_ACCESS_KEY_ID=${aws_access_key_id}
export AWS_SECRET_ACCESS_KEY=${aws_access_key_secret}
export AWS_REGION=${aws_region}

if [ -z "${AWS_ACCESS_KEY_ID}" ]; then
  echo "AWS_ACCESS_KEY_ID is not set"
  return 1 # Return better than Exit here
else
  echo "============ Credentials loaded ============"
fi
