.env
get-cred.sh
*.env
.env*
.envrc
.env.*
secrets/
*.key
*.pem

# Terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.bak
*.tfstate
*.tfstate.backup
*.tfstate.bak
.terraform/
app/terraform.tfstate
app/terraform.tfstate.backup
core/.terraform.tfstate
core/terraform.tfstate.backup
**/.terraform/
